body {
    /* insert font family */

}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.arena {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    display: flex;
}

.machine {
    display:flex;
}

#vs {
    font-size: 30px;
}

.chooseWepTxt {
    text-align: center;
}

.weapons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}